binance==0.3.50
catboost==1.2.8
joblib==1.4.2
langchain==0.3.25
langchain_core==0.3.65
langchain_openai==0.3.24
langgraph==0.4.8
lightgbm==4.6.0
matplotlib==3.10.3
numba==0.61.2
numpy==1.23.5
optuna==4.4.0
pandas==2.3.0
pandas_ta==0.3.14b0
python-dotenv==1.1.0
python-telegram-bot==22.1
pytz==2025.1
Requests==2.32.4
rich==14.0.0
scikit_learn==1.7.0
setuptools==65.5.0
ta==0.11.0
urllib3==2.5.0
websockets==15.0.1
xgboost==3.0.2
